@import "tailwindcss";

:root {
  --background: white;
  --foreground: #171717;

  /* Set Tailwind default font ke Plus Jakarta */
  --font-sans: var(--font-plus-jakarta);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta); /* Overwrite font default */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta), sans-serif !important;
}

/* Pastikan seluruh dokumen (termasuk elemen root) memakai Plus Jakarta Sans */
html {
  font-family: var(--font-plus-jakarta), sans-serif;
}

/* Jika ada elemen yang override font-family, paksa agar tetap Plus Jakarta Sans */
*:where(:not(code, pre, kbd, samp)) {
  font-family: var(--font-plus-jakarta), sans-serif;
}
